h1{
    border-style :dashed ; 
    /* there are also styles like dotted or dashed or double, etc. */

    border-color : red;
    border-width:5px 20px  4px 10px ;
    border-radius:20px;
    border:5px solid red ;


   
   
   
    /* border:2px  solid black; */

}
/* now for the longer version of this */
h4{
    border:2px dashed blue;
    border-radius:30px;
}

